body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

/* Input */
.inputBox {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.inputBox input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.inputBox button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.inputBox button:hover {
  background: #2563eb;
}

/* List */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f9fafb;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.streak {
  color: green;
  font-weight: bold;
}

button {
  cursor: pointer;
}